In [1]:
import os
import numpy as np
import pandas as pd
import re
from matplotlib import pyplot as plt
import fitz # From PyMuPDF
from PIL import Image
import cv2
import argparse
import imutils
import sys

In [2]:
os.chdir(r'D:\Dropbox\Proyectos\python\formatos_elecciones')
#os.chdir(r'C:\Users\gd.orbegozo10\Dropbox\Cosas_Programacion\Python\python\formatos_elecciones')

In [3]:
pdf_df = pd.DataFrame(columns=['Dep', 'Mun', 'Zona', 'N'])

In [4]:
dep_list = os.listdir('formularios_e_14/')

In [5]:
for i_d,dep in enumerate(dep_list) :
    if (dep != 'pdf_crop' and dep != 'failed') :
        mun_list = os.listdir(f'formularios_e_14/{dep}')
        for i_m,mun in enumerate(mun_list) :
            zona_list =  os.listdir(f'formularios_e_14/{dep}/{mun}')
            for i_z,zona in enumerate(zona_list) :
                format_list = [x for i,x in 
                               enumerate(os.listdir(f'formularios_e_14/{dep}/{mun}/{zona}')) 
                               if '.pdf' in x]
                pdf_df = pdf_df.append({'Dep' : dep,
                                        'Mun' : mun,
                                        'Zona' : zona,
                                        'N' : len(format_list)},
                                       ignore_index=True)

In [6]:
pdf_df[['Dep','N']].groupby(by=['Dep']).sum()

         N
Dep
1    12208
11    2785
12    2132
13    3356
15    5030
16   14418
17    1016
19    2178
21    2539
23    3202
24    2046
25    3130
26    1243
27    4733
28    1918
29    2882
3     4931
31    9249
40     513
44     780
46     801
48    1585
5     4224
50      81
52    1928
54     162
56     124
60     130
64     620
68      66
7     2622
72     144
88    2396
9     2121

In [7]:
pdf_df.N.sum()

97293

In [14]:
dep = 88
i_formato = 1646

In [15]:
mun_list = os.listdir(f'formularios_e_14/{dep}')

In [16]:
format_list = []
for i_m,mun in enumerate(mun_list) :
    zona_list =  os.listdir(f'formularios_e_14/{dep}/{mun}')
    for i_z,zona in enumerate(zona_list) :
        format_list += [x for i,x in 
                       enumerate(os.listdir(f'formularios_e_14/{dep}/{mun}/{zona}')) 
                       if '.pdf' in x]

In [17]:
len(format_list)

2396

In [18]:
format_list[i_formato]

'2928216_E14_PRE_X_88_590_005_XX_02_002_X_XXX.pdf'

In [20]:
format_list[:10]

['2248310_E14_PRE_X_88_115_005_XX_86_001_X_XXX.pdf',
 '2865919_E14_PRE_X_88_115_005_XX_82_001_X_XXX.pdf',
 '3310313_E14_PRE_X_88_115_005_XX_84_001_X_XXX.pdf',
 '4158317_E14_PRE_X_88_115_005_XX_02_001_X_XXX.pdf',
 '6804318_E14_PRE_X_88_115_005_XX_83_001_X_XXX.pdf',
 '6824712_E14_PRE_X_88_115_005_XX_85_001_X_XXX.pdf',
 '7632814_E14_PRE_X_88_115_005_XX_81_001_X_XXX.pdf',
 '2721216_E14_PRE_X_88_120_005_XX_82_001_X_XXX.pdf',
 '2806819_E14_PRE_X_88_120_005_XX_85_001_X_XXX.pdf',
 '3067513_E14_PRE_X_88_120_005_XX_02_002_X_XXX.pdf']